{
  "plugins": [
    [
      "@emotion",
      {
        "sourceMap": false,
        "autoLabel": "dev-only",
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ]
  ]
}
  